ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li a{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 18rem;

  border-radius: 1rem;
  margin: 0.9rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}

li a:hover{
  opacity: 0.8;
  cursor: pointer;
}

li a img{
  object-fit: cover;
  height: 10.5rem;
}

.content{
  margin-top: 0rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
  background-color: #fcb190;
}

.favorite{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.4rem;
}

.favorite.not{
  color: whitesmoke;
}

.stars{
  margin-bottom: 0.2rem;
}

.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins{
  flex: 9;
}

.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.cook-time{
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price{
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
}
